<!-- Check if any share-links are active -->
{% assign any-share-links = false %}
{% for links in site.share-links-active %}
  {% if links[1] == true %}
    {% assign any-share-links = true %}
  {% endif %}
{% endfor %}

{% if any-share-links %}
<section id="social-share-section">
  <span class="sr-only">Share: </span>

  {% if site.share-links-active.youtube %}
    <a href="https://www.youtube.com/user/{{ site.youtube_username }}"
      class="btn btn-social-icon btn-youtube" title="YouTube Channel">
      <span class="fab fa-fw fa-youtube" aria-hidden="true"></span>
      <span class="sr-only">YouTube</span>
    </a>
  {% endif %}

  {% if site.share-links-active.github %}
    <a href="https://github.com/{{ site.github_username }}"
      class="btn btn-social-icon btn-github" title="GitHub Profile">
      <span class="fab fa-fw fa-github" aria-hidden="true"></span>
      <span class="sr-only">GitHub</span>
    </a>
  {% endif %}

  {% if site.share-links-active.instagram %}
    <a href="https://www.instagram.com/{{ site.instagram_username }}"
      class="btn btn-social-icon btn-instagram" title="Instagram Profile">
      <span class="fab fa-fw fa-instagram" aria-hidden="true"></span>
      <span class="sr-only">Instagram</span>
    </a>
  {% endif %}

  {% if site.share-links-active.linkedin %}
    <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}"
      class="btn btn-social-icon btn-linkedin" title="LinkedIn Profile">
      <span class="fab fa-fw fa-linkedin" aria-hidden="true"></span>
      <span class="sr-only">LinkedIn</span>
    </a>
  {% endif %}

</section>

{% endif %}
